* {
    background-color: rgb(56, 41, 80);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gainsboro;
}
h1 {
    font-size: 3em;
    font-weight: bold;
}
#caselle {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    gap: 10px;
    margin: 20px;
    
}
.celle {
    background-color: rgb(53, 36, 82);
    padding: 20px;
    text-align: center;
    border-radius: 5%;
    border:0.1em solid rgb(205, 174, 255) ;
}
.estratto {
    background-color: rgb(156, 130, 217);
    color: rgb(53, 36, 82);
}
button {
    margin-top: 2em;
    padding: 20px;
    background-color: rgb(53, 36, 82) ;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    border:0.1em solid rgb(205, 174, 255) ;
}
button:hover {
    background-color: rgb(82, 57, 126);
    transition-duration: 0.3s;
}